/*------- Font Family Starts -------*/

@font-face { font-family: "Roboto-Light"; src: url("../fonts/Roboto-Light.ttf"); }
@font-face { font-family: "Roboto-Regular"; src: url("../fonts/Roboto-Regular.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 0.5px; }
h2,
h3,
p { margin: 0; }

/*------- Reset CSS Ends -------*/

/*------- Form Section Starts -------*/

.bg-form { padding: 100px; }
.panel-heading-form > h2 { color: #3c763d; font: 3rem/1.2 "Roboto-Regular"; }
.panel-body-form { padding: 30px; }
.form-group { margin-bottom: 30px; }
.form-group:last-child { margin-bottom: 0; }
.form-group > label { color: #000000; font: 1.8rem/1.2 "Roboto-Light"; margin-bottom: 10px; }
.form-group > input { margin-bottom: 10px; }
.form-control { border: 1px solid #000000; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; font: 1.6rem/1.2 "Roboto-Light"; letter-spacing: 1px; }
.form-control::placeholder {
  color: #000000;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
 color: #000000;
}
.form-control::-ms-input-placeholder {
 color: #000000;
}
.form-control:focus { -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; }
.error-show-hide { color: #ff0000; font: 1.8rem/1.2 "Roboto-Light"; }
.password-show-hide {
  display:none;
  background: #dff0d8;
  color: #000;
  position: relative;
  padding: 15px;
}
.password-show-hide > h3 { color: #ff0000; font: 2.4rem/1.2 "Roboto-Light"; margin-bottom: 15px; }
.password-show-hide > p { font: 1.8rem/1.2 "Roboto-Light"; margin-bottom: 10px; padding-left: 20px; position: relative; }
.password-show-hide > p:last-child { margin-bottom: 0; }
.validPasswordType { color: #3c763d; }
.validPasswordType::before {
  content: "✔";
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}
.invalidPasswordType { color: #ff0000; }
.invalidPasswordType::before {
  content: "✖";
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}

/*------- Form Section Ends -------*/